@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
}

/* Свойства для box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;

  background-color: #f2f2f2;
}

body {

  width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-header {
  position: relative;
  z-index: 1;
  height: 64px;

}

.page-nav{
  display: flex;
  flex-wrap: wrap;
  padding:0 70px;
  height: 64px;
  align-items: center;


}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-nav-list {
  max-width: 500px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  height: 64px;
}

.page-nav-link {
  display: inline-block;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

}

.page-nav-current{
  text-decoration: 2px;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 20px;
}


/*.page-nav-list li{
  padding:20px 16px 20px 16px;
}*/

.page-user-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.page-user-link {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
}

.logo{
  margin-right: 28px;
}

/* Общее свойство для кнопок и ссылок */

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-nav-button {
  width: 160px;
  height: 36px;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

/* Общие свойства для заголовков и текстов. */

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Общие свойства для инпутов */

.form-input {
  width: 100%;
  height: 48px;
  padding: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

/* ------------------------------------------------------------------ */

.form-input::placeholder {
  opacity: 0.6;
}

.page-user-link-search {
  background-image: url("../images/search.svg");
}

.page-user-link-favorites {
  background-image: url("../images/rheart.svg");
}
.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 13px 17px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-user-favorites-num {
  position: absolute;
  top: -10px;
  right: 15px;
  display: inline-block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;

}

.hero {
  padding:60px 70px;
  text-align: center;
  color: #ffffff;
  background-color: #5c84ab;
  background-image: url("../images/index_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom, top;
  background-size: 100% auto, cover;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
}

.description {
  padding: 70px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:last-child .advantages-image {
  order: -1;
}

.advantages-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.advantages-container .advantages-title {
  color: #ffffff;
}

.advantages-text {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}


.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-content {
  width: 400px;
  min-height: 385px;
  padding: 184px 85px 20px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: top 80px center;
}

.services-title {
  margin: 0 0 30px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-content-home {
  background-image: url("../images/house.svg");
}

.services-content-food {
  background-image: url("../images/food.svg");
}

.services-content-souvenirs {
  background-image: url("../images/souvenir.svg");
}

.search {
  padding: 70px;
  text-align: center;
}

.search-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}


.subscribe {
  padding:50px 70px;
}

.subscribe-home {
  color: #ffffff;
  background-color: #5c84ab;
  background-image: url("../images/footer_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-input {
  height: 52px;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.social-link {
  display: block;
  width: 48px;
  height: 41px;

  color: #82b3d3;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-dev {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}

/*footer*/

.page-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 70px;
  align-items: center;
}

.social-list {
  display: flex;
  align-items: center;
  width: 142px;
}

.phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/*-----------------------Каталог--------------------------*/

.filter {
  padding: 35px 70px;

  color: #ffffff;
  height: 412px;
  background-color: #4d799b;
  background-image: url("../images/catalog_backgraund.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

/* Хлебные крошки */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;

  display: block;
  width: 7px;
  height: 10px;

  background-image: url("../images/");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Фильтры */

.filter{
    padding: 35px 70px 70px;
    color: #ffffff;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

/* Сортировка */

.sorting {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
}

.sorting-title {
  display: block;
  margin-right: auto;

  text-align: left;
}

.sorting-select {
  width: 292px;
  margin-right: 70px;
  padding: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Карточки */

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../images/tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/quick_view.svg");
}

.view-link-list {
  background-image: url("../images/pack.svg");
}

/* ОТЕЛИ */

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
}

.hotels-item{
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin:5px;
}


.hotels-link {
  color: #000000;
  text-decoration: none;
}

.hotels-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-item p {
  margin: 0;
}

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-rating-star {
  display: block;
  height: 37px;

  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 72px;
}

.hotels-rating-star-3 {
  width: 54px;
}

.hotels-rating-star-2 {
  width: 36px;
}

.hotel-rating {
  display: inline-block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Пагинация */

.pagination-list {
  display: flex;
  flex-wrap: wrap;

}

.pagination-item{
  list-style-type: none;
  padding:0 4px 0 4px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}
